<%- include layouts/header.ejs %>

<div class="table100 ver1 m-b-110">
    <div class="table100-head">
        <table>
            <thead>
                <tr class="row100 head">
                    <th class="cell100 column2">ID</th>
                    <th class="cell100 column3">Line</th>
                    <th class="cell100 column4">Station</th>
                    <th class="cell100 column5">Section</th>
                    <th class="cell100 column6">Name</th>
                    <th class="cell100 column7">Result</th>
                    <th class="cell100 column8">Remarks</th>
                    <th class="cell100 column9">Status</th>
                    <th class="cell100 column9">Action</th>
                </tr>
            </thead>
        </table>
    </div>

    <div class="table100-body js-pscroll">
        <table>
            <tbody>
                <% if(data.length){ 
                                
                    for(var i = 0;i < data.length;i++) { %>
                    
                <tr>
                    <td><a href=""><%=data[i].id%></a></td>
                    <td><%=data[i].line%></td>
                    <td><%=data[i].station%></td>
                    <td></td>
                    <td><%=data[i].auditor%></td>
                    <td><%=data[i].result%></td>
                    <td><%=data[i].remarks%></td>
                    <td><%=data[i].status%></td>
                    <td>
                        <a class="btn btn-outline-info btn-sm" href="../surveys/edit/<%=data[i].id%>">Edit</a>
                        
                        <a class="btn btn-outline-danger btn-sm" href="../surveys/delete/<%=data[i].id%>">Delete</a>
                        
                    </td>
                </tr>
                <% }
                
                    }else{ %>
                        <tr>
                        <td colspan="3">No survey</td>
                        </tr>
                <% } %>
            </tbody>
        </table>
            <button class="btn btn-info" onClick="addSurvey();">+ Add</button>
    </div>
</div>
        
<%- include layouts/footer.ejs %>
